 /* The Modal (background) */
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

@keyframes opacity-background {
  from {
    background-color: rgba(0,0,0,0);
  }
  to {
    background-color: rgba(0,0,0,0.4);
  }
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 5% from the top and centered */
  border: 1px solid #888;
  width: 305px;
}

.modal-header {
  background-color: #F1F1F1;
  padding: 5px;
  border-bottom: 1px solid #e5e5e5;
}

.modal-title {
  margin: 0;
  font-weight: 600;
  text-align: center;
}

/* The Close Button */
.close {
  margin-top: -8px;
  color: #424e5a;
  float: right;
  font-size: 25px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  padding: 15px 15px 10px 15px;
}

.modal-body .modal-text {
  margin: 5px;
}

.modal-body .modal-text > label {
  flex: none;
  margin-inline-end: 5px;
}

.modal-body .list {
  width: 100%;
}

.modal-body .list option {
  border: 1px solid transparent;
  margin: 0 1px;
  padding: 1px 0;
}

option[selected] {
  background-color: rgb(160, 238, 238);
}

.modal-footer {
  padding: 10px 15px;
  text-align: left;
  border-top: 1px groove ThreeDFace;
}
